.headerTop {
  background-color: #f0f3f2;
  min-height: 30px;
}

.flushstyle {
  background-color: #f0f3f2;
  text-decoration-color: gray;
  padding: 20px 0px;
}

.center {
  height: 17rem;
  margin-top: 10rem;
  margin-bottom: 10rem;
}
.alignRight {
  align-items: right;
  text-align: right;
}
.links {
  text-decoration: none;
}

.headerMid {
  height: 70px;
  padding: 20px 10px;
}
.productlist {
  padding: 10px 5px;
}

.item1 {
  border-bottom: 0.5px solid;
  border-top: 0.5px solid;
  border-left: 0.5px solid;
  border-right: 0.5px solid;
  box-sizing: border-box;
  justify-content: center;
}
.item1:hover {
  color: chartreuse  ;
}
