.headerTop {
  background-color: #f0f3f2;
  min-height: 30px;
}

.flushstyle {
  background-color: #f0f3f2;
  text-decoration-color: gray;
  padding: 20px 0px;
}

.center {
  height: 17rem;
  margin-top: 10rem;
  margin-bottom: 10rem;
}
.alignRight {
  align-items: right;
  text-align: right;
}
.links {
  text-decoration: none;
}

.headerMid {
  height: 70px;
  padding: 20px 10px;
}
